html, body {
	padding: 0px;
	width: 120px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: thin;
	margin: 0px;
}
#api-form{
	display: none;
}
#input-api-key{
	width: 86px;
	margin-left:10px;
}
#save-api{
	margin: 4px 0px 10px 10px;
	width: 100px;
	background-color: #39d;
	border-radius: 4px;
	text-align: center;
	color: white;
	padding: 6px 0px;
	cursor: pointer;
}
#time-card{
	margin-top: -20px;
	text-align: center;
}
#at{
	margin-bottom: 0px;
	color: #a3de83;
}
#dt{
	margin-top: 0px;
	margin-bottom: 10px;	
	color: #2eb872;
}